




.logoName {
    height: 50%;
    width: 100%;
}

.logoSize {
    position: relative;
    left: 500px;
    height: 140px;
    aspect-ratio: 1/1;
}



.links {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.Link {
    text-align: center;
    text-decoration: none;
    padding: 1vh 0;

    font-size: calc( 2vw + 2vh );
    color: rgb(42, 42, 42);
    background-color: rgb(138, 139, 157);
    border-radius: 10px;
    width: 50%;
    margin-top: 2%;
    margin-left: 25%;
}

.Link:hover {
    background-color: rgb(114, 115, 130);
}

.LinkDisable , .LinkDisable:hover {
    cursor: default;
    background-color: #2A2A2A;
    color: #565656;
}