
.container{
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 10px;
    left: 10px;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
}

.sky{
    background: linear-gradient(to top, #0e093d, #060227); 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 30%;
    width: 100%;
}

.skyLight{
    background: linear-gradient(to top, #171153, #0e093d);
    height: 30%;
    width: 100%;
}

.skyDLight{
    background-color: #171153;
    height: 25%;
    width: 100%;
}


.grass{
    background-color: #063b06;
    height: 10%;
    width: 100%;
}

.grasShadow{
    background-color: #033303;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 5%;
    width: 100%;
}