
.container{
    display: flex;
    position: absolute;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.sky{
    background-color: #b3d6ee;
    height: 55%;
    width: 100%;
}



.grass{
    background-color: #487e48;
    height: 10%;
    width: 100%;
}


.dirt{
    
    background-color: #7a5941;
    height: 35%;
    width: 100%;
}