


.left {
    width: 152px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #bbbaca;

}

.left img {
    cursor: pointer;
    width: calc(40px + 5vh + 2vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.linkButton {
    position: fixed;
    width: 152px;
    height: 10vh;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: calc(3vh);
    line-height: 10vh; 
    text-decoration: none; 
    top: calc(40px + 5vh + 2vw);
}

@media (min-height: 650px) {
    .linkButton {
        font-size: calc(2vh);
    }
    
}



.upbuttons {
    background-color: #8a8b9d;
    position: relative;
}

.midlebuttons {
    position: relative;
}

.bottombuttons{
    position: relative;
    top: 20vh;

}

.center {
    position: relative;
    left: 170px;
    width: calc(100% - 170px);
}