


.left {
    width: 152px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #bbbaca;

}

.left img {
    cursor: pointer;
    width: calc(40px + 5vh + 2vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.linkButton {
    display: block; /* or inline-block */
    width: 152px;
    height: 10vh;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    line-height: 10vh; 
    text-decoration: none; 
}


.upbuttons {
    position: relative;
    height: 10vh;

}

.midlebuttons {
    position: relative;
    height: 10vh;
}

.bottombuttons{
    position: relative;
    top: 20vh;

}

.center {
    position: relative;
    left: 170px;
    width: calc(100% - 170px);
}