
.header{
    position: fixed;
    width: calc(100% - 152px);
    height: calc(40px + 5vh + 2vw);
    background-color: #bbbaca;
    top: 0px;
    left: 152px;
}


.header img{
    position: fixed;
    width: calc(40px + 5vh + 2vw - 20px);
    height: calc(40px + 5vh + 2vw - 20px);
    border-radius: 100%;
    background-color: #000000;
    left: calc(98vw - (40px + 2vh + 2vw - 10px));
    top: 10px;
}

.Link{
    text-align: center;
    padding: 1vh 0;
    color: rgb(42, 42, 42);
    text-decoration: none;
}

.header .singUp {
    position: fixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(10vw + 10px);
    font-size: calc(1vh + 1vw);
    font-size: calc(1vh + 1vw);
    background-color: rgb(234, 234, 234);
    left: calc(100vw - (10vw + 10px) - (40px + 2vh + 2vw) - 3vw);
    top: 20px;
}

.header .login {
    position: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: calc(10vw + 10px);
    font-size: calc(1vh + 1vw);
    font-size: calc(1vh + 1vw);
    background-color: rgb(234, 234, 234);
    left: calc(100vw - (10vw + 10px) * 2 - (40px + 2vh + 2vw) - 3vw);
    top: 20px;
}

