.header {
    position: fixed;
    width: calc(100% - 152px);
    height: calc(40px + 5vh + 2vw);
    background-color: #bbbaca;
    top: 0px;
    left: 152px;
}

.header .Help {
    position: fixed;
    width: calc(40px + 5vh + 2vw - 20px);
    height: calc(40px + 5vh + 2vw - 20px);
    background-color: #484848;
    border-radius: 20%;
    top: 10px;
    left: calc(100% - (40px + 5vh + 2vw - 20px) - 20px - (40px + 5vh + 2vw - 20px));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header .Help p {
    font-size: 25px;
}


.header .user img {
    position: fixed;
    width: calc(40px + 5vh + 2vw - 20px);
    height: calc(40px + 5vh + 2vw - 20px);
    border-radius: 100%;
    background-color: var(--black);
    left: calc(100% - (40px + 5vh + 2vw - 10px));
    top: 10px;
}

.Link {
    text-align: center;
    padding: 1vh 0;
    color: rgb(42, 42, 42);
    text-decoration: none;
}

.header .singUp {
    position: fixed;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: calc(10vw + 10px);
    font-size: calc(1vh + 1vw);
    font-size: calc(1vh + 1vw);
    background-color: rgb(234, 234, 234);
    left: calc(100vw - (10vw + 10px) - (40px + 2vh + 2vw) - 3vw);
    top: 20px;
}

.header .login {
    position: fixed;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: calc(10vw + 10px);
    font-size: calc(1vh + 1vw);
    font-size: calc(1vh + 1vw);
    background-color: rgb(234, 234, 234);
    left: calc(100vw - (10vw + 10px) * 2 - (40px + 2vh + 2vw) - 3vw);
    top: 20px;
}

/* ---messageBox---- */

.messageBox {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - (40px + 5vh + 2vw - 20px) - 20px - (40px + 5vh + 2vw - 20px) - 20px);
    height: calc(40px + 5vh + 2vw - 20px);
    background-color: #8A8B9D;
    color: #2A2A2A;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1.2vh + 1.2vw);
}

.messageBoxSuccess {
    background-color: #8a9d8a;
}

.messageBoxWarning {
    background-color: #9d8a8a;
}

/* help button */
.helpButton {
    position: fixed;
    top: 10px;
    width: calc(40px + 5vh + 2vw - 20px);
    height: calc(40px + 5vh + 2vw - 20px);
    font-size: 20px;
    left: calc(100% - (40px + 5vh + 2vw - 20px) - 20px - (40px + 5vh + 2vw - 20px));


    cursor: pointer;
    background-color: #2A2A2A;
    border: none;
    border-radius: 20px;


    color: #bbbaca;
    font-size: calc(1vw + 1vh);
    display: flex;
    align-items: center;
    justify-content: center;

}


.helpButton:hover {
    background-color: #3c3c3c;
}

.infoPage {
    position: fixed;
    top: calc(var(--top-Panel-Height) + 10px);
    width: calc(100vw - 152px - 40px);
    height: 100%;
    right: 10px;
    max-width: 750px;
    max-height: 700px;
}