
.colorBlock{
    width : 100px;
    height:  75px;
    cursor: pointer;
}
.colorBlock:hover{
    background-color: #48b82333;
}

.red, .red:hover{
    background-color: #ad3838ab;
}
.orange, .orange:hover{
    background-color: #b88e23ab;
}
.green, .green:hover{
    background-color: #48b823ab;
}