.leftContent {
    position: absolute;
    background-color: #BBBACA;
    border-radius: 20px;
    width: calc(50% - 20px);
    left: 10px;
    height: calc(100% - 20px);
    top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.upperPanel {
    position: absolute;
    top: 0px;
    height: calc(100% / 3);
    width: 100%;
}

.midlePanel {
    position: absolute;
    top: calc(100% / 3);
    height: calc(100% / 3);
    width: 100%;
}





.blockData {
    background-color: #dfdcec;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    height: 40%;
    width: calc(100% - 40px);
    left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.blockBottom {
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    left: 25%;
}
.linkAplhy{
    position: absolute;
    top: 150%;
    width: calc(50% - 0.3em);
    left: 25%;
    height: calc(40% - 0.3em);
    border-radius: 10px;
    background-color: #5FA171;
    border: 0.2em solid #498458;

    cursor: pointer;
    text-decoration: none;
    color: #dfdcec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}



.blockCheckBox {
    appearance: none;
    background-color: #fff;
    color: #2A2A2A;
    width: 1.5em;
    height: 1.5em;
    border: 0.15em solid #2A2A2A;
    border-radius: 0.15em;
    cursor: pointer;
}
.blockCheckBox:checked {
    cursor: default;
    background-color: #5FA171;
}
.blockCheckBoxOff {
    background-color: #2A2A2A;
    cursor: default;
}
.labelLeft {
    font-size: 1.4em;
}
.labelRight {
    font-size: 1.4em;
    padding-left: 1em;
}



.blockDataSizeUp {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.blockDataSizeDown {
    width: 95%;
    height: 45%;
    display: flex;
    justify-content: center;
}

.blockColor {
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 0;
    width: 80%;
    height: 80%;
}

.rainbowLine {
    background-color: transparent;
    background-image: linear-gradient(to right, red, Magenta, blue, Cyan, green, yellow, red);
    height: 2vh;
    border: solid #2A2A2A, 2px;
}

.whiteLine {
    background-color: white;
    height: 2vh;
    border: solid #2A2A2A, 2px;
}







.rightContent {
    position: absolute;
    background-color: #8A8B9D;
    border-radius: 20px;
    width: calc(50% - 20px);
    left: calc(50% + 10px);
    height: calc(100% - 20px);
    top: 10px;
}

/* Εκδηλώσεις choices */
.colorBox{
    margin-left: 5%;
    width: 50%;
    height: 80%;
    background-color: #FFFFFF;
    border: 2px solid #2A2A2A;
}
.purpleBox{
    background-color: #EE00FF;
    cursor: pointer;
}
.blueBox{
    background-color: #008BFF;
    cursor: pointer;
}
.greenBox{
    background-color: #00FF5F;
    cursor: pointer;
}
.yellowBox{
    background-color: #F2FF00;
    cursor: pointer;
}
.orangeBox{
    background-color: #FF9000;
    cursor: pointer;
}



