


.left {
    width: 152px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #bbbaca;

}

.left img {
    cursor: pointer;
    width: calc(40px + 5vh + 2vw);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.blocks {
    position: fixed;
    text-align: center;
    font-size: calc(3vh);
    line-height: 10vh; 
    top: calc(40px + 5vh + 2vw);    
}

@media (min-height: 650px) {
    .blocks {
        font-size: calc(2vh);
    }
    
}

.text{
    position: relative;
    display: block;
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 500;
}


/* left pos block */
.blockColorOff{
    background-color: #8A8B9D;
}
.blockColorOn{
    background-color:  #787AB3;
}
.content1{
    position: fixed;
    width: 152px;
}

.content2{
    position: fixed;
    width: 152px;
    margin-top: 10vh;
}

.content3{
    position: fixed;
    width: 152px;
    margin-top: 20vh;
}



/* next back */
.nextButton {
    background-color: #787ab3;
    position: fixed;
    width: 152px;
    margin-top: calc(44vh);
}
.nextButton:hover{
    background-color: #696b9e;
}
.buttonOff ,.buttonOff:hover{
    background-color: #a9a9c1;
    cursor: default;
}
.prevButton {
    background-color: #787ab3;
    position: fixed;
    width: 152px;
    margin-top: calc(56vh);
}
.prevButton:hover{
    background-color: #696b9e;
}

/*  exit  */
.exitButton{
    background-color: #B57373;
    position: fixed;
    width: 152px;
    margin-top: calc(70vh);
}
.exitButton:hover{
    background-color: #a36868;
}
