


.centerContent {
    position: absolute;
    height: 100vh;
    width: calc(100vw - 150px);
    margin-left: 150px;
}

.centerContent h1 {
    position: relative;
    font-size: calc(200% + 4vw + 4vh);
    color: #000000;
    text-align: center;
    margin-top: calc(40px + 5vh + 2vw);
    
}

.Link {
    text-align: center;
    text-decoration: none;
    padding: 1vh 0;
}

.centerContent .Link {
    position: relative;
    font-size: calc( 4vw + 4vh - 80%);
    padding: 2px calc(20px + 4vw + 4vh);
    color: #000000;
    background-color: #949494;
    left: calc(50% - (20px + 8vw + 8vh));
}

.centerContent p {
    position: relative;
    font-size : calc(50% + 1vw + 1vh);
    position: relative;
    color: #000000;
    text-align: center;
    margin-top: 10vh;
}