:root{
    --B-top-bottom: 7vh;
    --B-left-right: 7vh;
    --C-top-bottom: 5vh;
    --C-left-right: 5vh;
}


.panel{
    position: relative;
    background-color: #487e48;
    border-radius: 20px;
    top: 4%;
    left: 4%;
    width: 94%;
    height: 95%;
}

.ball{
    position: absolute;
    background-color: #b8b8b8;
    border: none;
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    border-radius: 20px;
}

.posB1{
    top: var(--B-top-bottom);
    left: var(--B-left-right);
}

.posB2{
    top: var(--B-top-bottom);
    right: var(--B-left-right);
}

.posB3{
    bottom: var(--B-top-bottom);
    left: var(--B-left-right);
}

.posB4{
    bottom: var(--B-top-bottom);
    right: var(--B-left-right);
}




.selected {
    position: absolute;
    border: 1vh dashed  #B8B8B8;
    width: 7vh;
    height: 7vh;
}
.posC1{
    top: var(--C-top-bottom);
    left: var(--C-left-right);
}

.posC2{
    top: var(--C-top-bottom);
    right: var(--C-left-right);
}

.posC3{
    bottom: var(--C-top-bottom);
    left: var(--C-left-right);
}

.posC4{
    bottom: var(--C-top-bottom);
    right: var(--C-left-right);
}
