/* blocks */
.itemBox {
    position: absolute;
    width: calc(48% - 2em);
    height: calc(48% - 2em);
    background-color: #BBBACA;
    border: 1em solid #8A8B9D;
    border-radius: 10px;
}

.topLeft {
    background-color: #bbcaba;
    border: 1em solid #8a9d8a;
    left: 1%;
    top: 1%;
}

.topRight {
    background-color: #c9caba;
    border: 1em solid #9d9c8a;
    left: 51%;
    top: 1%;
}

.bottomLeft {
    background-color: #c9caba;
    border: 1em solid #9d9c8a;
    top: 51%;
    left: 1%;
    height: 25%;
}

.bottomRight {
    top: 51%;
    left: 51%;
    height: 25%;
}

.textBox {
    position: absolute;
    width: 100%;
    top: 30%;
}

.textP {
    position: relative;

    font-size: calc(0.7vh + 0.7vw);

    display: flex;
    justify-content: center;
    align-items: center;
}

.textWarning {
    color: rgb(220, 90, 90);
    font-weight: bold;
}





/* titles */
.title {
    position: relative;
    margin: 0;
    background-color: #8A8B9D;
    height: 20%;
    left: 5%;
    top: 4%;
    width: 90%;
    border: none;
    border-radius: 10px;

    font-size: calc(1vh + 1vw);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleGreen {
    background-color: #8A9D8A;
}

.titleYellow {
    background-color: #9D9C8A;
}




/* apply button */

.applyButton {
    position: absolute;
    background-color: hsl(120, 75%, 33%);
    top: 250px;
    left: 10px;
}

.applyButton:hover {
    background-color: hsl(120, 60%, 33%);
}

/* button temp */

.buttonTemp {
    width: 30%;
    height: 40%;
    margin-left: 5%;
    border: 5px solid #767787;
    background-color: #8A8B9D;

    font-size: calc(1vh + 1vw);
    border-radius: 5px;
    cursor: pointer;
}

.buttonTemp:hover {
    border: 5px solid #616270;
    background-color: #777889;
}


/* options */
.options {
    position: relative;
    top: 10%;
    height: 70%;
    width: 90%;
    left: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.leftOption {
    width: 100%;
    height: 100%;
}

.rightOption {
    width: 100%;
    height: 100%;
}


/* checkbox -> Slider */

.sliterTopBlock {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;

    height: 40%;
    aspect-ratio: 2 / 1;


    border-radius: 10px;
    background-color: #8A8B9D;
    cursor: pointer;

}

.slider:checked {
    background-color: #5FA171;
}

.slider::before {
    content: "";
    position: absolute;

    height: 20%;
    aspect-ratio: 1/1;
    background-color: #767787;
    border-radius: 10px;
    border: none;

    transition: .2s;
    transform: scale(1.1);

}

.slider:hover::before {
    transform: scale(1.3);
}

.slider:checked::before {
    transform: translateX(100%)  scale(1.1);
}

.slider:checked:hover::before {
    transform: translateX(100%) scale(1.3);
}





/* link */

.linkApplyEnergy {
    position: absolute;
    top: 85%;
    left: 25%;
    width: 50%;
    height: 10%;
}