

.triangle {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.triangleNormal{}
.triangleWarm{
    background-color: #d5d5d5;
}
.triangleCold{}
.triangleRain{
    background-color: #497831;
}


.tentLight {
    position: absolute;
    top: 20%;
    left: 25%;
    height: 80%;
    width: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.33;
    background-color: rgba(38, 38, 38, 0.816);
}




.enter {
    position: absolute;
    top: 20%;
    left: 35%;
    height: 80%;
    width: 30%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: rgba(38, 38, 38, 0.816);
}

