

.centerContentHome h1 {
    position: relative;
    font-size: calc(200% + 4vw + 4vh);
    text-align: center;
    margin-top: calc(40px + 5vh + 2vw);
    
}

.Link {
    text-align: center;
    text-decoration: none;
    padding: 1vh 0;
}

.centerContentHome .Link {
    position: relative;
    font-size: calc( 4vw + 4vh - 80%);
    padding: 2px calc(20px + 4vw + 4vh);
    color: rgb(42, 42, 42);
    background-color: rgb(138, 139, 157);
    border-radius: 10px;
    left: calc(50% - (20px + 8vw + 8vh));
}

.centerContentHome p {
    position: relative;
    font-size : calc(50% + 1vw + 1vh);
    position: relative;
    text-align: center;
    margin-top: 10vh;
}