
.block{
    
    margin-left: calc(50% - 8vh);
    height: calc(var(--height-stick) * 1.5);
    width: 16vh;
    rotate: var(--rotate);
}

.cup{
    position: absolute; 
    background-color: #b8b8b8;
    width: 16vh;
    height: 8vh;
    margin-top: var(--top-position);
}

.stick{
    position: absolute;
    background-color: #868686;
    width: 5vh;
    height: var(--height-stick);
    margin-top:var(--top-position);
    margin-left: calc(50% - 2.5vh);
}

.triangle{
    position: absolute;
    border-left: 4vh solid transparent;
    border-right: 4vh solid transparent;
    border-bottom: 0px solid transparent;
    border-top: 8vh solid #797979;
    margin-top: var(--low-position);
    margin-left: calc(4vh);

}