
.rightPanel{
    position: absolute;
    left: 50%;
    top: 2%;
    width: 49%;
    height: 97%;
    background-color: #BBBACA;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.topPanel{
    height: 100%;
    width: 100%;
}
.bottomPanel{
    height: 100%;
    width: 100%;
}

.leftPanel{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}


.natureSize {
    position: relative;
    top: 2.5%;
    height: 95%;
    left: 2.5%;
    width: 95%;
}
