
:root {
    --width-map : 2000px;
    --height-map: 1500px;
    --count-blocks: 20;
}

.mapBlocks{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width : var(--width-map);
    height: var(--height-map);
}

.block {
    width : calc(var(--width-map ) / var(--count-blocks) - 2px);
    height: calc(var(--height-map) / var(--count-blocks)) - 2px;
    
    border: 1px solid #0000004d;
    background-color: #ff000000;
}

.blockGreen {
    background-color: #52c254db;
}

.image {
    position: absolute;
}
