
.centerContent {
  position: absolute;
  height: calc(100vh - (40px + 5vh + 2vw));
  width: calc(100vw - 150px);
  margin-left: 150px;
  margin-top: calc(40px + 5vh + 2vw);
}



.panel {
  flex: 1;
  border-right: 2px solid black;
  margin-left: 150px;
  margin-top: calc(40px + 5vh + 2vw);
  height: 500px;
  width: calc(50vw - 76px);
}

.showTent {
  flex: 1;
  height: 500px;
}

