.panels{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:end; 
    align-items: center; 
}



.leftPanel{
    background-color: #bbbaca;
    position: relative;
    border-radius: 10px;
    width: 40%;
    height: 80%;
}

.inputContaner{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 10px;
    background-color: #dfdcec;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.rightPanel{
    position: relative;
    width: 50%;
    height: 80%;
}

.tent{
    width: 35%;
    height: 30%;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.tent1{
    top: 15%;
    left: 10%;
}

.tent2{
    top: 15%;
    right: 10%;
}

.tent3{
    bottom: 5%;
    left: 10%;
}

.tent4{
    bottom: 5%;
    right: 10%;
}

.img{
    cursor: pointer;
    width: auto;
    height: auto; 
    border-radius: 10px;
    object-fit: cover; 
    max-width: 100%;
    max-height: 100%; 
}