
.block {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.Stick {
    position: relative;
    left: 45%;
    width: 10%;
    height: 100%;
    background-color: #332203;
}

.light{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    aspect-ratio: 1 / 1;
}
.Lamp {
    position: absolute;
    width: 30%;
    height: 30%;
    border-radius: 100%;
    opacity: 0.95;
}

.lightLamp1 {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    opacity: 0.50;
}

.lightLamp2{
    position: absolute;
    width: 200%;
    height: 200%;
    border-radius: 100%;
    opacity: 0.10;
}
