:root{
  --top-Panel-Height: calc(40px + 5vh + 2vw);
}


body{
  background-color: #dfdcec;
}

.centerContent {
  position: absolute;
  height: calc(100vh - var(--top-Panel-Height));
  width: calc(100vw - 152px);
  margin-left: 152px;
  margin-top: var(--top-Panel-Height);
}

p{
  color: rgb(42, 42, 42);
}

h1{
  color: rgb(42, 42, 42);
}
