.textBox{
    background-color: #8a8b9d;
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox p{
    color: #2a2a2a;
    font-size: calc(1vh + 1vw);
    margin: 0;
}