.textBox{
    background-color: #8a8b9d;
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox p{
    text-align: center;
    word-break: break-word;
    font-size: calc(1vh + 1vw);
}